@import url(main.css);

.card
{   
    position:relative;

    box-shadow:
    0 2.8px 1.2px rgba(0, 0, 0, 0.015),
    -0 3.7px 2.3px rgba(0, 0, 0, 0.015),
    0 5.5px 5px rgba(65, 52, 52, 0.015),
    0 10.3px 9.9px rgba(0, 0, 0, 0.015),
    0 20.8px 15.4px rgba(0, 0, 0, 0.015),
    0 10px 10px rgba(0, 0, 0, 0.015);

   background: var(--contentBackground);
   border-radius: var(--contentBorderRadii);
   
   width: 50%;
   height: auto;
   
   margin-top: 10px;
   margin-right:auto;
   margin-left:auto;
}

.gameBanner
{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: var(--contentBorderRadii);
}

.gameBannerMiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .gameBanner {
  opacity: 0.1;
}

.card:hover .gameBannerMiddle {
  opacity: 1;
}

.gameBannerText
{
    color:var(--textColour);
    font-size: 32px;
    font-weight: bold;
}

.gameBannerTextMinor
{
    color:var(--textColour);
    font-size: 25px;
}

.blogBox
{
  box-shadow:
  0 2.8px 1.2px rgba(0, 0, 0, 0.015),
  -0 3.7px 2.3px rgba(0, 0, 0, 0.015),
  0 5.5px 5px rgba(0, 0, 0, 0.015),
  0 10.3px 9.9px rgba(0, 0, 0, 0.015),
  0 20.8px 15.4px rgba(0, 0, 0, 0.015),
    0 10px 10px rgba(0, 0, 0, 0.015);

  transition: all .2s ease-in-out; 

  background: var(--contentBackground);
  border-radius: var(--contentBorderRadii);
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}

.blogCardContainer
{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(33%, 1fr));
  box-sizing: border-box;
}

.blogCard
{
  background-color: rgba(255, 255, 255, 0.103);
  width: auto;
  margin:10px;
  border-radius: var(--contentBorderRadii);
  box-sizing: border-box;
  transition: box-shadow .3s ease-in-out;
}

.blogCard:hover
{
  box-shadow:
  0 5.8px 5.2px rgba(0, 0, 0, 0.025),
  0 6.7px 2.3px rgba(0, 0, 0, 0.025),
  0 5.5px 5px rgba(0, 0, 0, 0.025),
  0 10.3px 9.9px rgba(0, 0, 0, 0.025),
  0 20.8px 15.4px rgba(0, 0, 0, 0.025),
    0 10px 10px rgba(0, 0, 0, 0.025);
}

.blogThumbnail
{
  border-top-left-radius: var(--contentBorderRadii);
  border-top-right-radius: var(--contentBorderRadii);

  max-width: 100%;
  max-height: 100%;

  transition: all .2s ease-in-out; 

  filter: none;
  -webkit-filter: grayscale(50%);
  -moz-filter:    grayscale(50%);
  -ms-filter:     grayscale(50%);
  -o-filter:      grayscale(50%);
}

.blogThumbnail:hover
{
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
}

.blogTitle
{
  font-weight: 700;
  padding: 10px;
}

.blogCategories
{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.blogCategory
{
  transition: background-color .2s ease-in-out; 

  background-color: rgba(128, 128, 128, 0.247);
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin: 3px;
}

.blogCategory:hover
{
  background-color: rgba(128, 128, 128, 0.47);
}

.blogBoxSearch
{
  width: 50%;
  margin-right:auto;
  margin-left:auto;
  display: block;
  background-color: rgba(128, 128, 128, 0.47);
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  padding: 10px;
}