@import url(main.css);

:root
{
  --cardBorderRadii: 5px;
}

.card
{    
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   
   flex-direction: row;

   padding-top: 20px;
   padding-bottom: 20px;
   margin-right:auto;
   margin-left:auto;
}

.gameBanner
{
    opacity: 1;
    width: 960px;
    height: 400px;
}

.gameBanner_Accented
{
  opacity: 1;
  order: 2;
  max-width: 960px;
  max-height: 400px;
}

.gameBannerMiddle
{
  max-width: calc(var(--contentWidth) / 2);
  opacity: 1;
  order: 2;
  text-align: left;
  padding: 100px;
  color: var(--textColour);
}

.gameBannerMiddle_Accented
{
  max-width: calc(var(--contentWidth) / 2);
  opacity: 1;
  order: 1;
  flex-grow: 1;
  text-align: Right;
  padding: 100px;

  color: var(--textColour_Accented);
}

.gameBannerText
{
    min-width: 0;
    color: inherit;
    font-size: 32px;
    font-weight: bold;
    flex-wrap:wrap-reverse;
}

.gameBannerTextMinor
{
  color: inherit;

  min-width: 0;
  font-size: 25px;
}

.blogBox
{
  background-color: var(--contentBackgroundAccent);
  padding: 20px;
  box-sizing: border-box;

  width: 100%;
  
  margin-right:auto;
  margin-left:auto;
}

.blogCardContainer
{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(33%, 1fr));
  box-sizing: border-box;

  width: var(--contentWidth);
  margin-right: auto;
  margin-left: auto;
}

.blogCard
{
  background-color: var(--contentBackground);
  width: auto;
  margin:10px;
  box-sizing: border-box;
  border-radius: var(--cardBorderRadii);
}

.blogThumbnail
{
  border-top-left-radius: var(--cardBorderRadii);
  border-top-right-radius: var(--cardBorderRadii);

  width: 100%;
  max-height: auto;

  transition: all .2s ease-in-out; 

  -webkit-filter: grayscale(50%);
  -moz-filter:    grayscale(50%);
  -ms-filter:     grayscale(50%);
  -o-filter:      grayscale(50%);
}

.blogThumbnail:hover
{
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
}

.blogTitle
{
  font-weight: 700;
  padding: 10px;
}

.blogCategories
{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.blogCategory
{
  transition: background-color .2s ease-in-out; 

  background-color: rgba(128, 128, 128, 0.247);
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin: 3px;
}

.blogCategory:hover
{
  background-color: rgba(128, 128, 128, 0.47);
}

.blogBoxSearch
{
  width: 50%;
  margin-right:auto;
  margin-left:auto;
  display: block;
  border-radius: 2px;
  border-style: none;
  
  background-color: var(--contentBackground);
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
}