@import "/assets/css/main.css";

.footerContainer
{
   width: 100%;
  text-align: center;

  box-sizing: border-box;
  padding:20px;
  background-color: var(--mainBackground);
}

.footerText
{
  font-size: 15px;
  color: var(--textColour);

  width: var(--contentWidth);
  margin-right:auto;
  margin-left:auto;
  text-align: center;
  padding-bottom: 10px;
  opacity: .2;
}

.socialIcon
{
    display: inline;

    opacity: .8;
    width: 30x;
    height: 30px;

    padding-right: 10px;
    padding-left: 10px;

    cursor: pointer;
    transition: transform .3s ease-in, opacity .3s ease-in;
}

.socialIcon:hover
{
    transform:scale(1.2, 1.2);
    opacity: 1;
}