@import "/assets/css/main.css";

.headerContainer
{ 
  box-sizing: border-box;
  background-color: var(--titleBackground);  
  position:fixed;
  top:0;
  height:auto; 
  z-index:100;

  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;

  box-shadow:
    0 2.8px 1.2px rgba(0, 0, 0, 0.015),
    0 3.7px 2.3px rgba(0, 0, 0, 0.015),
    0 5.5px 5px rgba(0, 0, 0, 0.015),
    0 10.3px 9.9px rgba(0, 0, 0, 0.015),
    0 20.8px 15.4px rgba(0, 0, 0, 0.015),
    0 10px 10px rgba(0, 0, 0, 0.015);
}

.navBar
{
  width: var(--contentWidth);

  height:auto;
  margin-right:auto;
  margin-left:auto;
}

.homeText
{
  display: inline;
  vertical-align:middle;

  font-size: 25px;
  font-weight: 700;

  color:var(--textColour);
}

.navbarLink
{  
  display: inline;
  vertical-align:middle;

  line-height: 35px;
  float: right;
  text-decoration: none;
}
