@import "/assets/css/main.css";

.headerContainer
{ 
  box-sizing: border-box;
  background-color: var(--titleBackground);  
  position:fixed;
  top:0;
  height:auto; 
  z-index:100;

  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;

  box-shadow:
    0 2.8px 1.2px rgba(0, 0, 0, 0.015),
    0 3.7px 2.3px rgba(0, 0, 0, 0.015),
    0 5.5px 5px rgba(0, 0, 0, 0.015),
    0 10.3px 9.9px rgba(0, 0, 0, 0.015),
    0 20.8px 15.4px rgba(0, 0, 0, 0.015),
    0 10px 10px rgba(0, 0, 0, 0.015);
}

.navBar
{
  width: var(--contentWidth);
  vertical-align:middle;
  line-height: 35px;

  height:auto;
  margin-right:auto;
  margin-left:auto;
}

.homeText
{
  display: inline-block;
  box-sizing: border-box;

  color: white;
  border: none;
  cursor: pointer;

  font-size: 40px;

  padding:5px;
  border-radius: var(--contentBorderRadii);
}

.navbarLink
{  
  display: inline-block;
  box-sizing: border-box;

  background-color: #3e8e418e;
  color: white;
  border: none;

  padding:5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: var(--contentBorderRadii);
  transition: background-color .3s ease-in; 
}

.navbarLink:hover
{
  background-color: #3e8e41;
}

#personalProjectDropdown {
  position: relative;
  display: inline-block;
}

#personalProjectContent {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #444444;
  width: auto;
  left: 0;
  max-height: 0;
  -webkit-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
}

#personalProjectDropdown:hover #personalProjectContent
{
  display:block;
  max-height: 400px;
}

#personalProjectContent a 
{
  position: relative;
  display: block;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

#personalProjectContent a:hover 
{
  background-color: #444444a6
}