:root {
  --textColour: #D1D3DD;
  --mainBackground: #23252F;
  --titleBackground:#282A36;
  
  --contentWidth: 75%;

  --codeblockBackground: #1E1E1E;
  --contentBorderRadii: 5px;
}

*{
  margin:0;
  padding:0;
  list-style: none;
  text-decoration:  none;

  font-family: Raleway;
  color:var(--textColour);
}

body{
  background-color: var(--mainBackground);
}

.main
{
  box-sizing: border-box;

  height:auto;
  padding-bottom: 50px;

  margin-top: 100px;
  margin-right:auto;
  margin-left:auto;
  width: var(--contentWidth);
  background-color: var(--mainBackground);

}

.siteInfo
{
  margin-right:auto;
  margin-left:auto;
  width: var(--contentWidth);  

  height: auto;
}

.contentBox
{
    box-shadow:
    0 2.8px 1.2px rgba(0, 0, 0, 0.015),
    -0 3.7px 2.3px rgba(0, 0, 0, 0.015),
    0 5.5px 5px rgba(0, 0, 0, 0.015),
    0 10.3px 9.9px rgba(0, 0, 0, 0.015),
    0 20.8px 15.4px rgba(0, 0, 0, 0.015),
    0 10px 10px rgba(0, 0, 0, 0.015);

   background: #343A40;
   border-radius: var(--contentBorderRadii);
   padding: 20px;
}

.content
{
  white-space: pre-wrap;
}

.contentTitle
{
  font-weight: 700;
  font-size: x-large;
  padding-bottom: 20px;
}

p, div
{
  font-size: 18px;
}

pre
{
  background-color: var(--codeblockBackground);
  border-radius: var(--contentBorderRadii);
  padding-left: 20px;
}

code
{
  font-family: 'Ubuntu Mono', monospace;
  font-size: inherit;
}

p > code,
li > code,
dd > code,
td > code {
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}